<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{{ asset('css/estilo.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="container">
            <div id="content">
                {% include '::cabeza.html.twig' %}
                {% include '::menu.html.twig' %}
                {% block body %}{% endblock %}
        </div>
        </div>
        <div id="footer">© {{ "now"|date("Y") }} TELUS International</div>
    </body>
</html>
