{% extends '::base.html.twig' %}
{% block title %}¡Vota ya!{% endblock %}
{% block body %}
<div class="centrar">
    <h1>¡Vota por tu candidato ya!</h1>
    {% if app.user %}
        <p>Puedes votar por candidatos de <i>{{ app.user.idCountry.nombre }}</i>. Recuerda que solo puedes votar una vez por candidato, y solo por un candidato de cada comité.</p>
    {% else %}
        <p>Para votar debes <a href="{{ path('fos_user_registration_register') }}">registrarte</a> o si ya tienes una cuenta puedes <a href="{{ path('fos_user_security_login') }}">iniciar sesión</a></p>
    {% endif %}
    
</div>
{% endblock %}
